
.<body>
  <div class="container">
      <div class="pt-3 row">

      <div class="pt-3 row">
        <div class="pt-3 row">
          <div class="card text-white bg-dark mb-3 card-custom-2">
            <div class="card-header text-start">
              <div class="d-flex justify-content-between align-items-center">
                <h1>Gestión de los usuarios</h1>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group">
                <li class="list-group-item list-group-item-custom" *ngFor="let usuario of usuarios">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="user-name">{{ usuario.nombre }}</p>
                    <p class="user-email">{{ usuario.email }}</p>
                    <p class="user-role">{{ usuario.esAdmin ? 'Admin' : 'Usuario' }}</p>
                    <div class="btn-group">
                      <ul class="dropdown-menu">
                      </ul>
                    </div>
                  </div>
                </li>
                <li class="separator"></li>
              </ul>
            </div>
          </div>
        </div>
          </div>
      </div>
  </div>

