//COLORES

$blanco: #ffffff;
$azulosc: #020322; 
$azul: #25252d;
$negro: #000000;
$azulosc_semit: #020322d5; //Azul oscuro semitransparente para el footer
$dorado: #b88639;
$amarillo: #ffc107;
$negro: #000000;
$rojo: #f00;
$gris: #333;
$body: #131a21;
$tarjeta: #1c2632;
$toggle: #161d26;
$grisclaro: #afb4ba;
$grisazulado: #2e2e36;
$azulgrisaceo: #161c21;
$azulfosf: blue;
$negrosemit: rgba(0, 0, 0, 0.2);
$login: rgb(20, 22, 38, 0.9);
$toggleright: rgb(20, 22, 38, .7);
$toggleleft: rgba(7, 7, 13, 0.5);
$grissemit: rgba(255,255,255,0.15);
$input: #eeeded;
$grisclarosemit: rgba(255, 255, 255, 0.4);


//FUENTES
$titulo: 'Barlow Condensed', sans-serif;
$h2: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

//ESTILOS LETRA
$weightTitulo: 500;
$sizeEncabezado: 80px;
$styleEncabezado: oblique;
$bolder: bolder;
$bold: bold;

//IMAGENES
$nosotros: url("/assets/img/personas_sobreNosotros.png");
$recomendaciones: url('/assets/img/fondofutbol.webp');
$plantilla: url("/assets/img/plantilla2.webp");
$footer: url('/assets/img/fondof2.jpg');