<body>
    <div class="container-fluid">
      <section id="titulo" class="showcase-area">
        <div class="showcase-container">
          <h1 class="main-title text-center">Recomendaciones</h1>
        </div>
      </section>
        <div class="row">
            <div id="introduccion" class="seccion">
                <h1>HOT PICKS</h1>  
            </div>
        
              <!-- Tarjeta de Jugadores recomendados centrada -->
              <div class="container">
                <h2>Hot Picks</h2>
                <div class="row">
                    <div class="col-md-4" *ngFor="let jugador of hotPicks">
                        <div class="card">
                            <img class="card-img-top" [src]="'assets/img/jugadores/' + jugador.jugador_id + '.png'" alt="{{ jugador.Nombre }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ jugador.Nombre }}</h5>
                                <p class="card-text">Posición: {{ jugador.Posicion }}</p>
                                <p class="card-text">Media de Puntos: {{ jugador.mediaPuntos }}</p>
                                <p class="card-text">Valor: {{ jugador.valor }}</p>
                                <!-- Agrega más detalles según lo necesario -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Tarjeta 1-->
            <div class="col-4">
                <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
                  <div class="card-header">
                    <h4>Mejores jugadores</h4>                      
                  </div>
                  <div class="card-body">
                    <div class="list-group">
                      <div *ngFor="let jugador of jugadoresTop" class="list-group-item list-group-item-custom">
                        <div class="player-card">
                          <img class="card-img-top" [src]="'assets/img/jugadores/' + jugador.jugador_id + '.png'" alt="{{ jugador.Nombre }}">
                          <div class="card-body">
                            <h5 class="card-title">{{ jugador.Nombre }}</h5>
                            <p class="card-text">Posición: {{ jugador.Posicion }}</p>
                            <p class="card-text">Media: {{ jugador.mediaPuntos }}</p>
                            <p class="card-text">Valor: {{ jugador.valor }}</p>
                            <!-- Agrega más detalles según lo necesario -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            <!--Tarjeta 2-->

            <!--Tarjeta 3-->
            <div class="col-4">
                <div class="card custom-bg-color mb-3" style="max-width: 30rem;">
                    <div class="card-header">
                        <h4>Clasificación de equipos</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li *ngFor="let equipo of equipos; let i = index" class="list-group-item list-group-item-custom">
                                <div class="player-grid">
                                  <div class="player-list-item">{{ i + 1 }}</div>
                                  <div class="player-list-item">
                                    <img [src]="'assets/img/' + equipo.nombre + '.png'" alt="{{ equipo.nombre }} logo">
                                  </div>
                                  <div class="player-list-item">
                                    <div class="nombre-equipo">{{ equipo.nombre }}</div>
                                  </div>
                                </div>
                            </li>
                        </ul>
                    </div>                          
                </div>
            </div>
</div>
</div>