<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form id="signUpForm" (ngSubmit)="register()">
              <h1>Crea una cuenta</h1>
              <input class="inputlogin" type="text" placeholder="Nombre" [(ngModel)]="credentials.nombre" name="nombre" required>
              <input class="inputlogin" type="email" placeholder="Correo" [(ngModel)]="credentials.email" name="email" required>
              <input class="inputlogin" type="text" placeholder="Usuario" [(ngModel)]="credentials.user" name="user" required>
              <input class="inputlogin" type="password" placeholder="Contraseña" [(ngModel)]="credentials.password" name="password" required>
              <input class="inputlogin" type="password" placeholder="Confirma la contraseña" [(ngModel)]="credentials.password_confirmation" name="password_confirmation" required>
              <button type="submit">Registrarse</button>
            </form>  
          </div>
          
          <div id="container" class="form-container sign-in">
            <form id="signInForm" (ngSubmit)="login()">
              <h1>Accede a tu cuenta</h1>
              <input class="inputlogin" type="email" placeholder="Correo" [(ngModel)]="loginCredentials.email" name="email" required>
              <input class="inputlogin" type="password" placeholder="Contraseña" [(ngModel)]="loginCredentials.password" name="password" required>
              <a href="#">¿Has olvidado tu contraseña?</a>
              <button type="submit">Iniciar Sesión</button>
            </form>
          </div>
          
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>¡Bienvenido/a de nuevo!</h1>
                    <p>¿Ya tienes cuenta? <br> Retoma tu progreso hacia la victoria</p>
                    <button class="hidden" id="login" (click)="toggleSignIn()">Inicia Sesión</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>¡Bienvenido/a!</h1>
                    <p>¿Aún no estás registrado? <br> Comienza a potenciar tu juego</p>
                    <button class="hidden" id="register" (click)="toggleSignUp()">Regístrate</button>
                </div>
            </div>
        </div>
    </div>
</body>