@import '../app.component';

body {
  width: 100%;
  height: auto;
  padding-top: 125px;
  background-color: $body;
}

.btn-rrss {
  font-size: 2.5rem; // Ajusta el tamaño del texto 
  padding: 20px 25px; //Ajusta el relleno del botón 
}


h1{
  left: 0;
  color: $body;
  font-family: $titulo;
  font-weight: $weightTitulo;
  font-size: $sizeEncabezado;
  font-style: $styleEncabezado;
  font-weight: $bolder;
  display: flex;
  justify-content: center;
}

.col-sm-3 h1{
  font-style: normal;
}

.col-sm-12 h1{
  font-style: normal;
  color: $grisclaro;
}

h1.titulo{
  font-family: $titulo;
  font-weight: bold;
  color: $azul;
  display: flex;
  justify-content: center;
  font-weight: 270;

}

h2{
  font-family: $titulo;
  font-weight: $bold;
  color: $blanco;
  display: flex;
  justify-content: center;
  font-weight: $weightTitulo;
}

h3{
  left: 0;
  color: $blanco;
  font-family: $titulo;
  font-weight: $weightTitulo;
  font-size: $sizeEncabezado;
  font-style: oblique;
  font-weight: $weightTitulo;
  display: flex;
  justify-content: center;
}

.rrss{
  display: flex;
  justify-content: center;
}

.cuerpo_rrss h2{
  font-size: x-large;
}

.card .card-body{
  background-color: $body;
  
}
.card-title{
  color: $blanco;
  font-size:xx-large;
  margin-top: 2vh;
  font-family: $titulo;
}
#fotos {
  height: 100px;
}

#textoFotos{
  font-family: $titulo;
  font-size: xxx-large;
  color: $blanco;
  padding-top: 3vh;
  
}

.row-inicial{
  display: flex;
  justify-content:space-evenly;

}
.col-sm-12 h1{
  margin-top: 3vh;
}
.col-sm-12 p{
  color: $blanco;
}

.col-sm-3{
  display: flex;
  justify-content: center;
}

.componentes-grid{
  padding-top: 3vh;
  padding-left: 2vw;
  padding-right:2vw;
}

.tituloColab{
  padding-top: 10vh;
  margin-bottom: 2vh;
}
#rrss{
  
  background-color: $dorado;
}
.cuerpo_rrss{
  padding-top: 5vh;
}
.titulo{
  font-family: $titulo;
  font-size: 70px;
  line-height: 1.25;
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  
}

#text{
  text-align: center;
}
.mision{
  color: $blanco;
  margin: 0px;
  padding-left: 2vw;
  padding-top: 10vh;
  padding-bottom: 5vh;
  padding-right: 2vw;
  display: flex;
  flex: 1;
}
#textMision{
  margin-right: 1vw;
  margin-top: 5vh;
  font-size: x-large;
}

#intro{
  color: $blanco;
}

.textoFotos{
  padding-top: 2vh;
  text-align: left;
}


#info {
  margin: 0px;
  padding-left:1vw;
  padding-bottom: 3vh;
  padding-top:2vh ;
  
}

.mb-4{
  background-color: $dorado;
  margin:0px;
}

h2{
  color: $blanco;
  font-family:$h2;
  font-size:large;
}

#titulo {
  background: $blanco;
  background-image: 
        linear-gradient(
            $grisclarosemit,
            $grisclarosemit
        ),
        $nosotros;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}

.showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.6rem;
  
}

.tituloColab h1 {
  text-align: center;
}

.logo1 {
  padding-top: 3.5%;
  text-align: center;
  margin-bottom: 20px;
}

.centered-logo {
  width: 300px; 
  max-width: 100%; // Asegura que la imagen no sea más grande que su contenedor
}

.card-img-top {
  
  width: 100%;
  height: auto; // Para mantener la proporción de la imagen
}

.card-body {
  background-color: $blanco;
}

.card {
  background-color: transparent;
  border: none;
}

p{
  color: $blanco;
}